<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BBCupertinoTVTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83807E461C0BFB760033BF34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83807E5C1C0BFB770033BF34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83807E671C0BFB770033BF34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
